@model IEnumerable<LizardmanCinemas.ViewModels.DirectorsShortViewModel>

@{
    ViewBag.Title = "Directors";
}

<h2>@ViewBag.Title</h2>

<script type="text/x-kendo-tmpl" id="template">
    <div class="product">
        <a href="Directors/Details/#:Id#" >
            #if(data.Picture != null){#
            <img src="/Content/Directors/#: Picture #" alt="#:Name#" />
            #}else{#
            <img src="/Content/Directors/noDirector.png" alt="#:Name#" />
            #}#
            <h3>#:Name#</h3>
            <p>#:Name#</p>
        </a>
        
        @*#if(data.Age != 0){#
            <div class="movie-details">Age: #:Age#</div>
        #}else{#
            <div class="movie-details">Age: No information</div>
        #}#*@
        @*<div>
            Movies:
            #for (var i = 0; i < 3; i++){#
            <div>#:Movies[i].Title#</div>
            #}#
        </div>*@
    </div>
</script>

<div class="demo-section">
    @(Html.Kendo().ListView<LizardmanCinemas.ViewModels.DirectorsShortViewModel>(Model)
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource =>
    {
        dataSource.Read(read => read.Action("ReadDirectors", "Directors", new { area = ""}));
        dataSource.PageSize(10);
    })
    .Pageable()
    )
</div>

@*@(Html.Kendo()
    .Grid(Model)
    .Name("directors-grid")
    .Columns(columns =>
    {
        columns.Bound(actor => actor.FirstName);
        columns.Bound(actor => actor.LastName);
        columns.Bound(actor => actor.Age);
        columns.Bound(book => book.Id).Title("Movies")
            .Template(
            @<text>
                @Ajax.ActionLink("Movies", "DirectorMovies", new { id = @item.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "partial-content",
                            OnSuccess = "hideCreateButton",
                        }, new { @class = "btn", id = "create-button" })
            </text>);
        columns.Bound(book => book.Id).Title("Details")
            .Template(
            @<text>
                @Html.ActionLink("Details", "Details", new { id = @item.Id }, new { @class = "btn", id = "create-button" })
            </text>);
    })
    .Pageable()
    .Sortable()
        //.Editable(editable => editable.Mode(GridEditMode.InLine))
)*@

<div id="partial-content"></div>