@model LibrarySystem.ViewModels.BookVM
@{
    Layout = null;
}

@using (Html.BeginForm())
{

    <div id="error-grid" class="alert alert-error" style="display:none"></div>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="k-edit-form-container">
        <div class="editor-label">
            @Html.LabelFor(model => model.Title, "Title")

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
        </div>
    </div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName, "Category")

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category)
        </div>
    </div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            @Html.LabelFor(model => model.Description, "Description")

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
        </div>
    </div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            @Html.LabelFor(model => model.Authors, "Authors")

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Authors)
        </div>
    </div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            @Html.LabelFor(model => model.ISBN, "ISBN")

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ISBN)
        </div>
    </div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            @Html.LabelFor(model => model.WebSite, "WebSite")

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebSite)
        </div>
    </div>
}

